---
title: Syllabi
layout: default.html
---

<h1>Syllabi</h1>

{{#each collections.syllabi }}
  <section>
    <a href="/{{ path }}"><h2>{{ title }}</h2></a>
    <p>{{ excerpt }} <a href="/{{ path }}">Continue reading...</a></p>
  </section>
{{/each}}
