---
title: Syllabi
---

<h1>Syllabi</h1>

{{#each collections.syllabi }}
  <section>
    <a href="/syllabi/{{ slug }}"><h2>{{ title }}</h2></a>
    <p>{{ excerpt }} <a href="/syllabi/{{ slug }}">Continue reading...</a></p>
  </section>
{{/each}}
