<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ keywords }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@runemadsen">
  <meta name="twitter:creator" content="@runemadsen">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image:src" content="{{site.url}}{% if page.poster %}{{ page.poster }}{% else %}{{ 'DEFAULTURL' }}{% endif %}">
  <link rel="stylesheet" href="/{{ fingerprint.[css/app.css] }}">
  {{> analytics }}
</head>
<body{{#if bodyID}} id="{{bodyID}}"{{/if}}>
  {{> menu }}
  <div id="container">
    {{{ contents }}}
  </div>
</body>
</html>
