#about h3 {
  margin-bottom: 10px;
}

#about h3 + p {
  margin: 10px 0;
}

#about h3 + p + p {
  margin-top: 10px;
}

#about ul {
  margin: 0;
  padding-left: 20px;
}

#about ul li {
  margin-bottom: 5px;
}
