body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  color: #2e2e2e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizelegibility;
  font-weight: bold;
}

h1 {
  font-size: 1.8em;
  margin-bottom: 1em;
  letter-spacing: -0.5;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 0.8em;
}

h3 {
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 11px;
}

h4 {
  font-size: 15px;
  line-height: 26px;
}

main p,
main ul,
main ol,
main ul {
  margin-bottom: 1.2em;
  line-height: 1.5em;
  font-size: 1.1em;
}

main a {
  text-decoration: none;
  color: #2e2e2e;
  border-bottom: 1px solid #545454;
  transition: color 300ms;
}

main a:visited {
  color: #7a4e9c;
}

main a:hover {
  color: gray;
}

a h2 {
  color: #2e2e2e;
}

a h2:hover {
  color: #adadad;
}

blockquote {
  padding: 20px;
  margin: 22px 0px;
  background-color: #e6e6e6;
}

main blockquote p {
  margin: 0;
  line-height: 1.6em;
  color: #3a3a3a;
  font-style: italic;
}

address {
  font-weight: bold;
  font-style: normal;
  margin-bottom: 15px;
  line-height: 20px;
}

ul,
ol {
  line-height: 22px;
  margin: 11px 0px;
  margin-left: 25px;
}

ol.bignums {
  list-style: none;
  margin-left: 0;
}

ol.bignums li {
  clear: both;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

ol.bignums .bignum {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #c3c3c3;
  display: block;
  float: left;
  width: 60px;
  height: 40px;
  padding-left: 0.2em;
  padding-top: 0.3em;
  font-size: 2.5em;
}
