html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}

iframe {
  margin-top: 11px;
  margin-bottom: 11px;
}

main {
  width: 100%;
  margin-top: 30px;
  padding-bottom: 40px;
}

main img {
  max-width: 100%;
  height: auto;
  display: block;
}

main iframe {
  max-width: 100%;
}

/* Menu
---------------------------------------------------------*/

header {
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  margin: 25px 0 0 0;
  text-align: center;
}

header a {
  padding: 0;
  margin: 0 7px 0 0;
  display: inline-block;
}

header a:last-child {
  margin: 0;
}

header a,
header a:hover,
header a:visited {
  color: #272727;
}

header a {
  display: inline-block;
  text-decoration: none;
  transition: margin 200ms, color 400ms;
}

header a:hover {
  margin-left: 6px;
  color: gray;
}

/* Overflow classes
--------------------------------------------------------- */

.wide-750 {
  margin-bottom: 2em;
  margin-left: -20px;
  margin-right: -20px;
}

/* Content goes from fluid to 600px fixed
--------------------------------------------------------- */

@media (min-width: 640px) {
  body {
    padding: 0px;
  }

  main {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Menu goes to the left
--------------------------------------------------------- */

@media (min-width: 790px) {
  main {
    margin-left: 150px;
  }

  header {
    font-size: 1.5em;
    margin: 0;
    position: fixed;
    top: 34px;
    left: 30px;
    text-align: left;
  }

  header a {
    margin: 0 0 4px 0;
    display: block;
  }
}

/* Main window flows to the center
--------------------------------------------------------- */

@media (min-width: 900px) {
  main {
    margin-right: auto;
    margin-left: auto;
  }
}

/* Wide classes bump out
--------------------------------------------------------- */

@media (min-width: 1015px) {
  .wide-750 {
    margin-left: -75px;
    margin-right: -75px;
  }
}
